aiohttp==3.9.5
aiosignal==1.2.0
annotated-types==0.6.0
ansi2html==1.9.1
antlr4-python3-runtime==4.11.1
anyio==4.2.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==3.2.2
asttokens==2.0.5
async-lru==2.0.4
attrs==23.1.0
aws-sam-translator==1.86.0
aws-xray-sdk==2.8.0
Babel==2.11.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bleach==4.1.0
blinker==1.6.2
boto3==1.34.159
botocore==1.34.154
Bottleneck==1.3.7
Brotli==1.0.9
certifi==2024.7.4
cffi==1.16.0
cfn-lint==0.86.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
comm==0.2.1
cryptography==42.0.5
dash==2.14.2
dash-bootstrap-components==1.6.0
datasets==2.19.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
docker==7.0.0
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.13.1
Flask==3.0.3
Flask-Compress==1.13
Flask-Cors==3.0.10
frozenlist==1.4.0
fsspec==2024.3.1
future==0.18.3
gmpy2==2.1.2
google-pasta==0.2.0
graphql-core==3.2.3
huggingface_hub==0.23.1
idna==3.7
importlib-metadata==6.11.0
iniconfig==1.1.1
ipykernel==6.28.0
ipython==8.25.0
ipywidgets==8.1.2
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
joserfc==0.9.0
jschema-to-python==1.2.3
json5==0.9.6
jsondiff==1.3.0
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpickle==2.2.0
jsonpointer==2.1
jsonschema==4.19.2
jsonschema-path==0.3.2
jsonschema-specifications==2023.7.1
junit-xml==1.9
jupyter==1.0.0
jupyter_client==8.6.0
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.0
jupyter_server==2.14.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.11
jupyterlab-pygments==0.1.2
jupyterlab_server==2.25.1
jupyterlab-widgets==3.0.10
lazy-object-proxy==1.10.0
lxml==5.2.2
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
mkl-service==2.4.0
moto==5.0.5
mpmath==1.3.0
multidict==6.0.4
multipart==0.2.4
multiprocess==0.70.16
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
notebook==7.0.8
notebook_shim==0.2.3
numexpr==2.8.7
numpy==1.26.4
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
overrides==7.4.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.0
paramiko==2.8.1
parso==0.8.3
pathable==0.4.3
pathos==0.3.2
pbr==5.6.0
pexpect==4.8.0
pip==24.0
platformdirs==3.10.0
plotly==5.22.0
pluggy==1.0.0
ply==3.11
pox==0.3.4
ppft==1.7.6.8
praw==7.7.1
prawcore==2.4.0
prometheus-client==0.14.1
prompt-toolkit==3.0.43
protobuf==4.25.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-partiql-parser==0.5.4
pyarrow==14.0.2
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.15.1
pylint==3.2.2
PyNaCl==1.5.0
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-sip==12.13.0
PySocks==1.7.1
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==0.21.0
python-json-logger==2.0.7
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.30.2
regex==2024.7.24
requests==2.32.3
responses==0.25.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.6
s3transfer==0.10.1
sacremoses==0.0.43
safetensors==0.4.2
sagemaker==2.228.0
sarif-om==1.0.4
schema==0.7.7
scipy==1.12.0
Send2Trash==1.8.2
setuptools==69.5.1
sip==6.7.12
six==1.16.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.0
snscrape==0.7.0.20230622
soupsieve==2.5
stack-data==0.2.0
sympy==1.12
tblib==3.0.0
tenacity==8.2.3
terminado==0.17.1
textblob==0.18.0.post0
tinycss2==1.2.1
tokenizers==0.15.1
tomlkit==0.11.1
torch==2.3.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.37.2
typing_extensions==4.11.0
tzdata==2023.3
update-checker==0.18.0
urllib3==2.2.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.43.0
widgetsnbextension==4.0.10
wrapt==1.14.1
xmltodict==0.13.0
xxhash==2.0.2
yarl==1.9.3
zipp==3.17.0
